<!-- ABOUT INCLUDE START -->

<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>Our Mission</h2>
                </div>
                <div class="about-content">
                    <p>The Digitally Disenfranchised – 4Bn of us – lack the capacity to control their own digital destiny, first through exclusion, and then because they lack the education to direct technology to their own ends. 
                    <br>

                     <br>We're dedicated to researching, prototyping, and implementing solutions at the world's digital divide. Based in South East Asia, where digital disenfranchisement sits side by side with some of the fastest growing IT cultures, we're working with universities, NGOs, private enterprise and government to build a path to digital inclusion that the region – and the world's – digitally excluded can use to take digital control of their lives.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                   <!--  <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about1.jpg" class="img-fluid" alt="">
                        </div>
                    </div> -->
                    <div class="col-xl-12 col-md-12 mb-20">
                        <div class="about-img">
                            <div style="position:absolute;" >hello</div>
                            <img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT INCLUDE END -->