<!-- SERVICES INCLUDE START -->

<section class="service-area grey-bg pb-70 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-40">
                <div class="section-title service-title">
                    <h2>Tech Education With a Long Tail</h2>
                    <p>What role does upskilling play in the life of your coding teams? How do you ensure that your junior devs move to their potential as quickly as possible? How can these issues affect your productivity and bottom line, now and in the future?</p>
                    <p>These are the questions we've been working to understand, and provide solutions to. Like our early involvement in tech bootcamps in the 90's or bringing the first accelerated education to emerging economies. Or Human Centered Design accelerators to educate and develop domain knowledge for blockchain remittance for economic migrants. Developing intensive mentorship approaches to bridge the skills gap and let teams embrace modern practices.</p>
                </div>
            </div>
        </div>
        <div class="row">            
            {% for service in site.services %}
            <div class="col-lg-6 col-md-12 text-center mb-30">
                <div class="features-wrap">
                    {% if service.icon %}
                    <div class="features-icon">
                        <img src="{{service.icon}}" alt="{{service.title}}">
                    </div>
                    {% endif %}
                    <h4>{{service.title}}</h4>
                    <p>{{service.description}}</p>
                    <a href="{{site.baseurl}}{{service.service-link}}">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-xl-12">
                <p>We're based in South East Asia, with our main operations in Cambodia, and extended team in Thailand and Indonesia. We focus on the specific needs and conditions in the burgeoning ASEAN ICT scene. </p>
                <p>Our starting point is tech education. We've got long team experience developing new approaches to applying education to solve problems. Coding is a field that moves forward so quickly, that just sitting still is the same as going backwards. The burden of setting a strategy for keeping up is a major one for many companies; that's where we'd like to help.</p>
                <div class="quote" style="position:relative">Upskill your people. …Start that training now so you don’t waste any time once you have the technology. But rather than take the traditional approach to training — “build it and they will come” — you can take a more forward-thinking and employee-driven approach.
                </br>
                <div class="attribution">- Using Technology to Accelerate through Uncertainty, </br>Price Waterhouse Coopers (Dec 2019)</div>
            </div>
                <p>But tech education isn't sitting still either. We spent the better part of a decade trying approaches, understanding challenges, and considering what works. We're working with new models that are attuned to the way ICT works in our region, but these are special cases of the global challenge of ensuring that coding teams can move forward to advance the business advantages of their employers.</p>
                <p>With partners that include NIPTICT, Cambodia's tech focused University; The University for Sustainability; blockchain partners who are providing services that enable and augment our services, and major corporate partners.</p>
            </div>
        </div>
    </div>
</section>
<!-- SERVICES INCLUDE START -->