<!-- UPSKILLING INCLUDE START -->

<section class="portfoilo-area grey-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40 ">
                <div class="section-title service-title">
                    <h2>Onboarding, Upskilling: Skills&nbsp;Gap&nbsp;Training.</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                        some form,words which don't look even slightly believable.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 ">
                <div  class="section-icon">
                    <img src="{{site.baseurl}}/assets/img/incubate/onboard.png">
                </div>
                <h4>Onboarding</h4>
                <p>In an ever-diversifying tech world, stacks, languages, frameworks and methodologies are constantly changing, evolving.</p>
                <p>Companies whose tech profiles are changing may find that their new hires from colleges and universities have great foundational understanding, but don't match the tech profile they need. What is needed is responsive, customized onboarding that bridges that gap</p>
                <p>Working with institutional and corporate partners in Cambodia and elsewhere, we're seeking to transform onboarding in South East Asia with intensive, mentorship based programs designed to better match graduates to their new employer's needs.</p>
            </div>
            <div class="col-xl-6 ">
                <div class="section-icon left-icon">
                    <img src="{{site.baseurl}}/assets/img/incubate/upskilling.png">
                </div>
                <h4>Upskilling</h4>
                <p>As a tech-focused company, your greatest asset is the team that drives your development.</p>
                <p>It only makes sense to invest to preserve the value of your tech assets. Investing in your employees through training can improve retention, raise productivity, and allow teams to stay smaller, leaner, more communicative and effective. Upskilling is a far better option thas trying to improve things through new hires to expand capacity and improve production and quality, Upskilling offers a far better way.</p>
                <p>Working with your transitioning startup or corporation, we can work to build and deliver a mentorship driven program that accelerate skills acquisition. That can mean improved capability and team integrity in existing stacks, or a path to new, more efficient tech stacks, and phasing out obsolete languages and frameworks.</p>
            </div>


        </div>
        </div>
    </div>
</section>
<!-- UPSKILLING INCLUDE END -->