<!-- UPSKILLING INCLUDE START -->

<section class="portfoilo-area grey-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40 ">
                <div class="section-title service-title">
                    <h2>Onboarding. Upskilling. Skills&nbsp;Gap&nbsp;Training.</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                        some form,words which don't look even slightly believable.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 ">
                <div style="float:right;">
                    <img src="{{site.baseurl}}/assets/img/incubate/workshop.png">
                </div>
                <h4>Onboarding</h4>
                <p>Our objective is to identity, incubate, and launch digitally tools that serve great ideas that emerge from village ,  rural, and urban poor conditions. To do that, we offer a process that starts with workshops. </p>
                <p>Our workshops are offered jointly with NGOs, academic organizations, research and corporate partners. In each workshop, ideas are vetted, developed, and initial proposals are generated, with a clear identification of a few crucial requirements. </p>
                <p>Those include need, demographics and market, technology. Most importantly, we require a team profile – although we don't expect each candidate to have a full team, we want a picture of who will be needed to contribute to the success of the idea.</p>
            </div>
            <div class="col-xl-6 ">
                <div style="float:right;">
                    <img src="{{site.baseurl}}/assets/img/incubate/bootcamp.png">
                </div>
                <h4>Upskilling</h4>
                <p>We start the bootcamp phase by selecting the most promising proposals from the Workshop phase. </p>
                <p>We believe that it's easier for someone with an understanding of the village or rural socioeconomics that their idea will operate within to understand how technology can be shaped, that it is for development teams from outside those environments to understand the village.</p>
                <p>So we bring one or more members of teams we think have a great proposal into a two-month bootcamp, where we teach tech skills in coding. Our goal isn't to make a coder: we see programming as an analytical tool. Once you understand how it works, you're empowered to shape technology to your business idea, instead of the other way round.</p>
            </div>


        </div>
        </div>
    </div>
</section>
<!-- UPSKILLING INCLUDE END -->