<!-- UPSKILLING INCLUDE START -->

<section class="portfoilo-area grey-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40 ">
                <div class="section-title service-title">
                    <h2>Onboarding, Upskilling: Skills&nbsp;Gap&nbsp;Training.</h2>
                    <p>Your technology team's knowledge is just about your greatest asset; So, in an IT world that's always moving forward, investing in a training strategy that matches your company's goals is the best way to preserve that value. We provide the same innovation in Upskilling and Onboarding that we have in our long history building bootcamp experiences. Find out how what we can do to build an effective skills gap strategy for your company. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 ">
                <div  class="section-icon">
                    <img src="{{site.baseurl}}/assets/img/incubate/onboard.png">
                </div>
                <h4>Onboarding</h4>
                <p>In an ever-diversifying tech world, stacks, languages, frameworks and methodologies are constantly changing, evolving.</p>
                <p>Companies whose tech profiles are changing may find that their new hires from colleges and universities have great foundational understanding, but don't match the tech profile they need. What is needed is responsive, customized onboarding that bridges that gap</p>
                <p>Working with institutional and corporate partners in Cambodia and elsewhere, we're seeking to transform onboarding in South East Asia with intensive, mentorship based programs designed to better match graduates to their new employer's needs.</p>
            </div>
            <div class="col-xl-6 ">
                <div class="section-icon left-icon">
                    <img src="{{site.baseurl}}/assets/img/incubate/upskilling.png">
                </div>
                <h4>Upskilling</h4>
                <p>As a tech-focused company, your greatest asset is the team that drives your development.</p>
                <p>It only makes sense to invest to preserve the value of your tech assets. Investing in your employees through training can improve retention, raise productivity, and allow teams to stay smaller, leaner, more communicative and effective. Upskilling is a far better option thas trying to improve things through new hires to expand capacity and improve production and quality, Upskilling offers a far better way.</p>
                <p>Working with your transitioning startup or corporation, we can work to build and deliver a mentorship driven program that accelerate skills acquisition. That can mean improved capability and team integrity in existing stacks, or a path to new, more efficient tech stacks, and phasing out obsolete languages and frameworks.</p>
            </div>
            <div class="col-xl-6 ">
                <h4>Skills Gap</h4>
                <p>Interested in knowing more about how Apptessence can help your company address the skills gap, through onboarding and upskilling strategies? Want to know more about how other companies and organizations see the skills gap? You can download our pdf deck, discussing skills gap strategies <a href="{{site.baseurl}}/assets/files/skills_gap_apptessence.pdf" target="new">here.</a> </p>
            </div>


        </div>
        </div>
    </div>
</section>
<!-- UPSKILLING INCLUDE END -->